* {
    border: none;
    border-radius: 0;
    font-family: 'Inter';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces {
    background-color: #282a36;
    border-radius: 20px;
    padding: 0 15px;
}

#workspaces button {
    margin: 0 5px;
    padding: 0;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    border-bottom: 2px solid #ff79c6;
    color: #ff79c6;
}

#workspaces button.urgent {
    color: #ff5555;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    border-bottom: 2px solid #ff79c6;
}

#window {
    background-color: #282a36;
    border-radius: 0 20px 20px 0;
    padding: 0 20px;
    margin: 0 10px 0 0;
}

#clock, #battery, #cpu, #memory, #temperature, #network, #pulseaudio.output, #pulseaudio.input, #mode, #bluetooth {
    padding: 0 20px;
    margin: 0 2px 0 2px;
    background-color: #282a36;
    color: #ffffff;
    border-radius: 20px;
}

#clock {
    min-width: 100px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#language {
    margin-left: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    transition: none;
    color: #ffffff;
    background: #282a36;
}
