[Desktop Entry]
Name=resume
Comment=Enable screensaver (oposite to meet! command)
Exec=/home/manuel/.local/bin/resume
Terminal=false
Type=Application
Icon=network.cycles.wdisplays
StartupNotify=true
