[Unit]
Description=Emacs Daemon
After=gpg-agent.service graphical-session.target
PartOf=graphical-session.target
#ConditionPathIsMountPoint=/home/manuel/Dropbox

[Service]
Type=forking
ExecStart=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ] && export GDK_BACKEND=wayland || export GDK_BACKEND=x11; exec /usr/local/bin/emacs --daemon=hephaestus'
ExecStop=/usr/local/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"

[Install]
WantedBy=graphical-session.target
