[Unit]
Description=Emacs Daemon
After=gpg-agent.service
#ConditionPathIsMountPoint=/home/manuel/Dropbox

[Service]
Type=forking
ExecStart=/usr/local/bin/emacs --daemon=apolloemacs
ExecStop=/usr/local/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Environment=COLORTERM=truecolor
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
Environment=GPG_AGENT_INFO=%t/gnupg/S.gpg-agent
Environment=GDK_BACKEND=wayland
Restart=on-failure

[Install]
WantedBy=default.target
