[Unit]
Description=grobi display auto config daemon

[Service]
Type=simple
ExecStart=sh -c "grobi watch -v"
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target