[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/emacsclient --socket-name=hademacs --eval '(mu4e-update-index)'

[Install]
WantedBy=default.target