[Unit]
Description=sway - i3-compatible Wayland compositor
Documentation=man:sway(5)
Before=graphical-session.service
Wants=graphical-session-pre.service
After=graphical-session-pre.service

[Service]
Type=simple
ExecStart=/usr/bin/sway
